<div id="<%= dom_id item %>">
  <p>
    <strong>Item:</strong>
    <%= item.item_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Examine:</strong>
    <%= item.examine %>
  </p>

  <p>
    <strong>Destroy message:</strong>
    <%= item.destroy_message %>
  </p>

  <p>
    <strong>Tradeable:</strong>
    <%= item.tradeable %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= item.weight %>
  </p>

  <p>
    <strong>Attack speed:</strong>
    <%= item.attack_speed %>
  </p>

  <p>
    <strong>Attack stab:</strong>
    <%= item.attack_stab %>
  </p>

  <p>
    <strong>Attack slash:</strong>
    <%= item.attack_slash %>
  </p>

  <p>
    <strong>Attack crush:</strong>
    <%= item.attack_crush %>
  </p>

  <p>
    <strong>Attack magic:</strong>
    <%= item.attack_magic %>
  </p>

  <p>
    <strong>Attack range:</strong>
    <%= item.attack_range %>
  </p>

  <p>
    <strong>Defence stab:</strong>
    <%= item.defence_stab %>
  </p>

  <p>
    <strong>Defence slash:</strong>
    <%= item.defence_slash %>
  </p>

  <p>
    <strong>Defence crush:</strong>
    <%= item.defence_crush %>
  </p>

  <p>
    <strong>Defence magic:</strong>
    <%= item.defence_magic %>
  </p>

  <p>
    <strong>Defence range:</strong>
    <%= item.defence_range %>
  </p>

  <p>
    <strong>Prayer:</strong>
    <%= item.prayer %>
  </p>

  <p>
    <strong>Range strength:</strong>
    <%= item.range_strength %>
  </p>

  <p>
    <strong>Magic damage:</strong>
    <%= item.magic_damage %>
  </p>

</div>
